version: '3.8'

services:
  db: 
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: stac
      POSTGRES_PASSWORD: password
      POSTGRES_DB: todo
    ports:
      - "5436:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: